.navbarBox{
  display: flex;
  flex-direction: row;
  background-color: #c2fff2;

  /* margin properties */
  margin-bottom: 32px;

  /* padding properties */
  padding-bottom: 16px;

  /* border properties */
  border-color: #4286f4;
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 8px;
  border-left-width: 0px;
}

.navbarLogo {
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 2rem;
  flex: 50%;
  text-align: left;
  margin-right: 10px;
}

img {
  height: auto;
  width: 70px;
}

.navbarButtons {
  flex: 50%;
  text-align: right;
}