.post-object {
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.commentsbox-css {
  display: flex;
  justify-content: end;
}

.like-delete-buttons {
  display: flex;
  justify-content: flex-end;
  height: 20px;
  padding-bottom: 10px;
}
