.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding-left: 10px;
  width: 100%;
  margin-top: 20px;
}

.profilePicture {
  height: 50px;
  width: 160px;
}

.icon-posts {
  font-size: 70px;
  display: flex;
  justify-content: center;
  color: #4286f4;
}

.userinfo {
  text-align: left;
  line-height: 5px;
  overflow-wrap: anywhere;
}

.message-box {
  width: 100%;
}

.feed-message {
  width: 100%;
  padding: 16px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: left;
}

.postDate {
  color: darkgrey;
}